.commentList {
    /* padding-top: 15px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 15px;
    max-height: 250px;
    overflow: auto;
    background-color: rgb(250, 253, 255);
}
.commentList::-webkit-scrollbar {
    width: 6px;
    display: block;
    /* display: none; */
}
.commentList::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgb(164, 164, 164);
}

.leaveCommentWrap {
    padding-inline: 15px;
    padding-top: 15px;
    /* border-top: 1px solid rgb(211, 211, 211); */
    box-shadow: 0px -4px 10px -7px rgba(129, 129, 129, 0.5);
}
