.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 15px;
    gap: 5px;
}
.comment:last-child {
    margin-bottom: 15px;
    border: none;
}
.comment:first-child {
    margin-top: 15px;
}
.name {
    margin: 0;
    color: rgb(0, 76, 255);
    font-size: 14px;
    line-height: 14px;
}
.commentContent {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
}