:root {
    --bg-level: #0072c4;
    --bg-blue: #0e95f7;
    --bg-auth: #7dc3f5;
    --bg-level-sides: #005c9d;
    --bg-burger: #0e95f7;
    --lang-ul: #e5e5e5;
    --lang-li: #d6d6d6;
    --lang-li-hover: #cccccc;
    --bg-link-active: #0083e1;
    --bg-link-hover: #199fff;
    --lang-border: 1px solid #c8c8c8;
    --border-radius: 10px;
    --color-white: white;
    --color-black: #313131;
    --bg-body: #e0e0e0;
    --bg-body-blue: #55c5ff;
    --ring-height: 80px;
    --ring-div-height: 64px;
    --ring-mt: 0px;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
