@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.form {
    position: relative;
    border-radius: 30px;
    width: 100%;
    /* padding: 20px; */
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
}
.formTitle {
    margin-bottom: 40px;
    text-align: center;
    color: black;
}
.inputElem{
    margin-bottom: 15px;
    /* padding-inline: 20px; */
}
.inputBox {
    position: relative;
    border-bottom: 2px solid var(--bg-link-active);
    display: flex;
    align-items: center;
}
.inputElem p{
    margin: 0;
    margin-top: 3px;
    color: rgb(254, 49, 49);
    font-size: 13px;
    height: 15px;
}
.inputBox label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    color: var(--color-black);
    font-weight: bold;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox .valid ~ label {
    top: 0px;
    font-weight: bold;
}

.inputBox input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 35px 0px 5px;
    font-size: 18px;
    color: var(--color-black);
}

.loginBtn,
.registerBtn,
.googleBtn {
    font-size: 13px;
    line-height: 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(7, 27, 88);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease;
    margin-bottom: 10px;
}
.loginBtn:hover,
.registerBtn:hover {
    background-color: rgb(9, 33, 105);
}
.loginBtn:disabled,
.registerBtn:disabled {
    background-color: grey;
    cursor: not-allowed;
}
.register {
    font-size: 13px;
    text-align: center;
    color: var(--color-black);
}
.register a {
    font-weight: bold;
    color: var(--color-black);
    text-decoration: none;
    margin-left: 5px;
}
.register a:hover {
    text-decoration: underline;
}
.warning {
    color: rgb(255, 50, 50);
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    height: 20px;
}
.buttonContentWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonContentWrap span {
    margin-left: 5px;
}


/* create level */
.createLevelform {
    max-width: 500px;
}
.createLevelformInput {
    padding-left: 0;
}
.textInputWrap, .texareaWrap {
    margin-bottom: 30px;
}
.textInputWrap input {
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(80, 80, 80);
    width: 200px;
}

.textInputWrap input:focus,
 .texareaWrap textarea:focus {
    border: 1px solid rgb(0, 132, 255);
    box-shadow: 0px 0px 0px 2px rgba(0, 132, 255, 0.3);
}

.texareaWrap textarea {
    padding: 8px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(80, 80, 80);
    width: 100%;
    resize: none;
    font-size: 14px;
}
.texareaWrap textarea::placeholder, 
.textInputWrap input::placeholder{
    color: #8c8c8c;
    font-weight: 100;
}
.texareaWrap p, .textInputWrap p {
    margin: 0;
}
.texareaWrap.invalid  textarea, .textInputWrap.invalid input{
    border: 1px solid rgb(230, 45, 45);
    box-shadow: 0px 0px 0px 2px rgb(230, 45, 45, 0.3);
}

.inputLabel {
    margin: 0;
    margin-bottom: 10px;
}

.textareaContainer, .textInputContainer {
    position: relative;
}
.textInputContainer {
    width: 200px    ;
}

.countBlock {
    font-size: 12px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}