.mainPageContainer {
    background-color: rgb(245, 245, 245);
    padding-block: 20px;
    /* min-height: 100%; */
}
.mainPage {
    width: 80%;
    margin: 0 auto;
}
.loaderWrap {
    text-align: center;
}