.tweetContainer {
    background-color: white;
    border-radius: 15px;
    padding-block: 20px;
}
.tweet {
    padding-inline: 15px;
}
.tweetHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid rgb(25, 25, 87);
}
.icon {
    font-size: 22px;
    color: rgb(25, 25, 87);
}
.tweetInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.userLogin {
    margin: 0;
    color: rgb(0, 76, 255);
    font-size: 16px;
    line-height: 16px;
}
.date {
    margin: 0;
    color: rgb(195, 195, 195);
    font-size: 14px;
    line-height: 14px;
}
.content {
    margin: 0;
    margin-bottom: 15px;
}
.title {
    margin: 0;
    margin-top: 10px;
}

.divider {
    margin: 0;
    height: 1px;
    border-bottom: 1px solid rgb(150, 150, 150);
}
