version: '3.8'

services:
  
    publisher:
        image: publisher
        container_name: publisher
        ports:
            - "24110:8080"
        depends_on:
            - postgres
            - redis
            - kafka
 
    discussion:
        image: discussion
        container_name: discussion
        ports:
            - "24130:8080"
        depends_on:
            - cassandra
            - kafka

    identity:
        image: identity
        container_name: identity
        ports:
            - "5001:8080"

    zookeeper:
        image: confluentinc/cp-zookeeper:latest
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - 2181:2181
    
    kafka:
        image: confluentinc/cp-kafka:latest
        depends_on:
            - zookeeper
        ports:
            - 9092:9092
            - 29092:29092
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    cassandra:
        image: cassandra
        ports:
            - "9042:9042"

    postgres:
        image: postgres
        container_name: mypostgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: distcomp
        ports:
            - "5432:5432"

    redis:
        image: redis
        ports:
            - "6379:6379"