.paginationItem {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}
.active.paginationItem {
    border: 1px solid rgb(84, 178, 255);
    color: rgb(31, 109, 255);
}
.paginator {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.arrow {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(84, 84, 84);
    border-radius: 3px;
    border: 1px solid transparent;
}
.arrow:hover {
    background-color: rgb(244, 244, 244);
    color: rgb(31, 109, 255);
}
