.container {
    padding: 20px 30px;
    background-color: #191957;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
}


.isAuthButtons {
    display: flex;
    gap: 10px;
}
.btn {
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    color: rgb(240, 240, 240);
    background-color: rgb(32, 132, 204);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
